@mixin placeholder($color) {
  -webkit-input-placeholder: $color; // Chrome/Opera/Safari
           -moz-placeholder: $color; // Firefox 19+
      -ms-input-placeholder: $color;  // IE 10+ 
}

@mixin transform ($transform) {
  -webkit-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}


body {
  background-color: #247ba0 !important;
}


/* Log in Form CSS */
#login-form {
  background-color: #fff;
  box-shadow: 5px 5px 5px #000;
  padding: 2rem;

 /*
  *  Where the magic happens
  *  Centering method from CSS Tricks
  *  http://css-tricks.com/centering-percentage-widthheight-elements/
  */
  position: absolute;
  left: 50%;
  top: 50%; 
  @include transform ( translate(-50%, -50%) );
}
/* Log in Form CSS */

/* Username Field CSS */
#login-form #user_email{  
  background-color: rgb(237, 237, 237);
  height: 65px;
  @include placeholder( black ); //Recolor the placeholder for each browser
}
/* End of Username Field CSS */

/* Password Field CSS */
#login-form #user_password{
  background-color: #ededed;
  height: 65px;
  @include placeholder( black );
}
/* End of Password Field CSS */


#submit-btn {
  height: 65px;
}

#external-links {
  margin: 1rem;
}

#title {
  font-family: 'Indie Flower', cursive;
  font-size: 48pt;
}
